<html>
	<head>
		<title>To-Do lists</title>
	</head>
	<body>
		{% if user.is_authenticated %}
			<h1>Hello {{ user.username}}!</h1>
		
		<h1>Your To-Do list today - {{ currentdate|date:"l, M d, Y" }} </h1>

		<table id = "id_list_table">
			{% for item in list %}
			<ul>
				<tr>
				{% if item.done == 0 %}
					<td><li>{{ item.text }}</li></td>
					<td>
					<form name = change_item method = "POST" action="/lists/{{ user.username }}/change_item">
					<fieldset>
					<input id="DONE" type="radio" name="done" value="1" onclick="this.form.submit();">DONE
					<input id="CANCEL" type="radio" name="done" value="2" onclick="this.form.submit();">CANCEL
					<input type="hidden" name="item_id" value="{{ item.id }}">
					</fieldset>
					{% csrf_token %}
					</form>
					</td>			
				{% elif item.is_today %}
						<td><li>{{ item.text }}</li></td>
						<td>{% if item.done == 1 %} - DONE on {{ item.done_date|date:"M d, Y" }} 
							{% elif item.done == 2 %} - CANCELLED on {{ item.done_date|date:"M d, Y" }}	
							{% endif %}
						</td>		
				{% endif %}		
				</tr>	
			</ul>			
			{% endfor %}
		</table>
		<h2>Add another item</h2>
			<form method="POST" action="/lists/{{ user.username }}/add_item">
				<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
				{% csrf_token %}
			</form>	
		
		<a href="/lists/logout/"><strong>Logout</strong></a><br />
		{% else %}
			<h1>Hello!</br>Log-in <a href="/lists/login/">here</a> to access your to-do list.</h1>
		{% endif %}
	
	</body>
</html>